@using Microsoft.AspNetCore.Identity
@using PmsBlog.Data

@inject SignInManager<PmsBlogUser> signInManager
@inject UserManager<PmsBlogUser> userManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        var user = userManager.FindByIdAsync(userManager.GetUserId(User)).Result;


        <li class="nav-item">
            <a id="newArticle" class="nav-link text-dark" href="/Article/Form/New" title="Manage">Yeni Makale</a>
        </li>
        <li class="nav-item">
            <a id="author" class="nav-link text-dark" href="/Author/@user.Url" title="Manage">Yazar Sayfam</a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @userManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
