@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        @if (!string.IsNullOrEmpty(Model.ImageBase64))
        {
            <img src="data:image/png;base64,@Model.ImageBase64" alt="Profile Picture" style="width:100px;height:100px" />
        }
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ImageFile" class="form-control" type="file" />
                <label asp-for="Input.ImageFile" class="form-label">Image</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" placeholder="Please enter your fullname." />
                <label asp-for="Input.FullName" class="form-label"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Url" class="form-control" placeholder="Please enter your fullname." />
                <label asp-for="Input.Url" class="form-label"></label>
                <span asp-validation-for="Input.Url" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <textarea asp-for="Input.Description" class="form-control" placeholder="Please enter your description." style="min-height: 150px"></textarea>
                <label asp-for="Input.Description" class="form-label"></label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
